# azureml-sdk == 1.26.0
tensorboard ~= 2.4
huggingface-hub == 0.1.2
tree-sitter ~= 0.19.0
torchmetrics == 0.6.0

transformers == 4.16.2
torch == 1.13.1
pytorch-lightning == 1.5.10
deepspeed ~= 0.5.10

# to avoid getting an error of "fit.optimizer" conflict namespace error
jsonargparse == 3.19.4

nltk
rouge-score
jsonargparse[signatures]
overrides
neptune-client
scipy 
editdistance 
bashplotlib
wandb
astunparse
